<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Jets App</title>
  <%= javascript_pack_tag "application" %>
  <link rel="shortcut icon" href="<%= favicon_path %>">
</head>
<body>
  <%= yield %>
</body>
</html>